# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local terraform variables
local.terraform.tfvars
local.terraform.tfvars.json